openapi: 3.0.0
info:
  title: OutreachOS Lead Management API (legacy)
  description: |
    **RETIRED — ChatGPT / Custom GPT intake was scrapped.**
    Use Excel import in the app instead (`/import-guide`).

    This file only documents the leftover `POST /api/agent/leads` route for
    maintainers. It is not a supported product feature.

    ## Authentication (legacy)
    `X-Agent-Secret` or `Authorization: Bearer <api-key>` if configured.

    ## Rate limiting (legacy)
    - 100 req/min per agent secret
    - 1000 req/min for API keys
  version: 1.0.0-legacy
  contact:
    name: OutreachOS
    email: techxtremebuisness@gmail.com

servers:
  - url: https://outreachos.techxtreme.me
    description: Production
  - url: http://localhost:3000
    description: Local development

paths:
  /api/agent/leads:
    post:
      operationId: submitLead
      summary: Submit a new lead to the database
      description: |
        Submit lead information collected from Google Maps or other sources.
        The system will automatically deduplicate based on the Google Maps URL.

        If a lead with the same maps_url already exists, the API will return
        a 200 OK response with `skipped: true` to prevent the agent loop from
        breaking due to duplicate errors.
      security:
        - AgentSecret: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadSubmission'
            examples:
              interior_design:
                summary: Interior Design Business
                value:
                  lead:
                    name: Modern Interior Studio
                    niche: Interior Design
                    country: United States
                    phone: +1-555-0123
                    address: 123 Design Ave, New York, NY 10001
                    maps_url: https://maps.google.com/place?cid=123456789
                  metadata:
                    source: api
                    version: "1.0"
      responses:
        '200':
          description: Lead already exists (duplicate detected)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '201':
          description: Lead created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponse'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/health:
    get:
      operationId: healthCheck
      summary: Check API health status
      description: Returns the current health status of the API and its dependencies
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: API is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

components:
  schemas:
    LeadSubmission:
      type: object
      required:
        - lead
      properties:
        lead:
          $ref: '#/components/schemas/Lead'
        metadata:
          $ref: '#/components/schemas/RequestMetadata'

    Lead:
      type: object
      required:
        - name
        - niche
        - country
        - maps_url
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        niche:
          type: string
          minLength: 1
          maxLength: 100
        country:
          type: string
          minLength: 1
          maxLength: 100
        phone:
          type: string
          maxLength: 50
          nullable: true
        address:
          type: string
          maxLength: 500
          nullable: true
        maps_url:
          type: string
          format: uri
          maxLength: 2000

    RequestMetadata:
      type: object
      properties:
        source:
          type: string
          default: api
        version:
          type: string
          default: "1.0"

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        skipped:
          type: boolean
        requestId:
          type: string
          format: uuid
        responseTime:
          type: number

    CreateResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                id:
                  type: integer
                created_at:
                  type: string
                  format: date-time

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        details:
          type: array
          items:
            type: object
        requestId:
          type: string
          format: uuid

    RateLimitResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            retryAfter:
              type: number

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, unhealthy, error]
        timestamp:
          type: string
          format: date-time
        version:
          type: string
        uptime:
          type: number
        responseTime:
          type: number
        checks:
          type: object

  securitySchemes:
    AgentSecret:
      type: apiKey
      in: header
      name: X-Agent-Secret
      description: Legacy shared secret (agent intake retired as a product feature)
    BearerAuth:
      type: http
      scheme: bearer
      description: API key for programmatic access
